/src/start.bat
/src/music
/src/__pycache__/*.*
/src/database/__pycache__/*.*
/src/routes/__pycache__/*.*
/src/services/__pycache__/*.*
/src/utils/__pycache__/*.*
.obsidian/
/src/resources/__pycache__
/kivy-app/__pycache__/*.*
/kivy-app/screens/__pycache__/*.*
/kivy-app/.buildozer/ 
/kivy-app/services/__pycache__/*.*